---
interface Props {
  id: string;
  title?: string;
}

const { id, title = 'YouTube video' } = Astro.props;
---

<div class="youtube-embed my-8">
  <div class="relative overflow-hidden rounded-xl border border-border shadow-lg" style="padding-top: 56.25%;">
    <iframe
      src={`https://www.youtube-nocookie.com/embed/${id}`}
      title={title}
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      loading="lazy"
      class="absolute inset-0 h-full w-full"
    ></iframe>
  </div>
</div>
